

/*General styling across page*/

body {
  font-family: Arial;
  font-size: 16px;
  color: white;
  background-color: black;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.max-width-container {
  width: 75%;
  margin: 0 auto;
}

.full-page-container {
  width: 100%;
}

.thirdTitle--center {
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
}

.thirdTitle {
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.half-width-container {
  width: 50%;
}


/*Header with logo styling*/

.header {
  text-transform: uppercase;
  justify-content: flex-start;
  height: 5rem;
}

.header img {
  width: 14%;
  padding: 0 2rem;
}


/*Hero container styling*/

.hero {
  height: 25rem;
  justify-content: flex-start;
  background-image: url("../moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-copyContainer {
  width: 45%;
  padding: 3rem;
  background-color: black;
  text-transform: uppercase;
}

.hero-copyContainer h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  padding-top: 0.5rem;
  font-weight: bold;
}


/* Nav bar styling*/

nav {
  background-color: #B00024;
}

.navBar {
  height: 4rem;
}


/* Promoted categories styling*/

.promotedItemContainer {
  padding: 5rem 0;
  justify-content: space-between;
}

.promotedItem {
  max-width: 16rem;
  height: 16rem;
  border: 3px solid black;
  align-items: center;
  justify-content: flex-end;
}

.promotedItem img {
  width: 60%;
  height: auto;
  padding: 10%;
  margin: auto 0;
}

/* Contact information styling */

.contactInfo {
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-item {
  width: 30%;
  margin-right: 10rem;
  padding: 2rem 0;

}

.contact-item p {
  padding: 2rem 0.5rem;
  text-align: left;
}


/* Footer styling */

footer p {
  padding: 5rem 0;
}
